APP_ENV=development
IS_LOCAL=True
SPOOFING_MODEL_DOWNLOADS_URL_ENV=https://e-coop-storage-r3wisiu87k.t3.storageapi.dev/model_onnx.onnx
SPOOFING_PARAMS_DOWNLOAD_URL_ENV=https://e-coop-storage-r3wisiu87k.t3.storageapi.dev/params.json
SPOOFING_FACE_DETECTOR_DOWNLOAD_URL_ENV=https://e-coop-storage-r3wisiu87k.t3.storageapi.dev/face.onnx
PROFILING=False
